// Librerias, Settings y Variables
// @import "@lib/variables.module.scss";
@import "../styles.module";

.description {
  text-align: center;
  line-height: 1.5;  
  font-size: $base-fontsize * 1.5;
  background-color: $color-brand;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: $color-brand;
  align-items: center;
  height: 100px;
}
.tittle {
  color: $color-secondary;
  justify-content: center;
  
} 