// Librerias, Settings y Variables
// @import "@lib/variables.module.scss";
@import "../styles.module";

.carusel img{
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.products_container {
  display: flex;
  flex-direction: row;

}
.products_container_info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: auto;
  
  img {
    width: 100%;
    height: 100%;
  }
}

.products_container_oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  h2 {
  color: $color-secondary;
  }

  div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  button {
      border-radius:5px; 
      background-color: $color-brand;
      border: none;
      height: 35px;
      width: 50%;
      color: white;
      font-size: 25px;
      padding: 0;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 8px 8px 8px $color-tertiary;
  }

  img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px $color-tertiary;
    
  }

  h2 {
    color: $color-secondary;
    font-size: $light-medium-text;
  }
}

