@import "../styles.module";
@import "../lib/variables.module";
@import "../styles.module.scss";

//--------- sell ---------//

.container_details{
  padding: 0%;
  display:grid;
  width: 100%;
  height: auto;
  grid-template-columns: .5fr 4fr 2.5fr 2.5fr .5fr;
  grid-template-rows: .4fr .4fr .3fr 1fr .3fr;
  grid-template-areas: "title title title title tittle"
                       "details details details details details"
                       ". client upPhoto upPhoto  ."
                       ". client Photo Photo ."
                       ". client public public . "


}

.cont_title_details {
  grid-area: title;
  display: grid;
  background-color: $color-brand;
  justify-content: space-evenly;
  width: 100vw;
}

.cont_title_details h1 {
  color: $color-secondary;;
  font-size: 30px;
  font-family: $base-font;
} 

.details_title{
  grid-area: details;
  color: $color-secondary;
  align-content: center;
  display: grid;
}

.details_title  label{
  width: 100%;
  min-width: 250px;   
  padding: 15px 80px;
  margin-bottom: 20px;  
  color: $color-white;  
  font-size: $base-fontSizeMedium;
  font-weight: 400;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  box-sizing: border-box;
}


.form_client {
  grid-area: client;
  border: 15px;
}

.form_client input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 35px;
  min-width: 250px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-weight: 400;
  color: $color-secondary;
  background-color: $color-tertiary;
  border: 1px solid $color-secondary;
  font-size: $base-fontsize;
  border-radius: $border-radius * 2;
}

.contElements{
  width: 80%;
}


.form_client{
    margin: 15px;
    align-items: center;
  }

.form_client select {
  cursor: pointer;
  outline: none;
  display: inline-block;
  width: 100%;
  color: $color-secondary;
  height: 35px;
  min-width: 250px; 
  padding: 1px 15px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: $base-fontsize;
  
  border: 1px solid $color-secondary;
  background-color: $color-tertiary;
  
  box-sizing: border-box;
  border-radius: $border-radius * 2;
}

.form_client select {
  opacity: 0.85;
}

.texTank {
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    margin-bottom: 10px;    
    font-size: 16px;
    background-color: #e2e8f0;
    border: 1px solid #6D5E52;
    box-sizing: border-box;
    border-radius: $border-radius * 2;
}

.takePhoto{
  grid-area: upPhoto;
  width: 100%;
     
}

.takePhoto h2{

  color: $color-secondary;
  text-align: center;
  box-sizing: border-box;
  grid-column: 1 / san 3;
  font-size: 20px;

}

.Photo{
  display: grid;
  grid-area: Photo;
  grid-template: 1fr/ 1fr 1fr;
  margin: auto;
  column-gap: 30px;
}

.Photo input{
  border: none;
  display: inline-block;
  cursor: pointer;
  color: $base-fontSizeMedium;
  border: 1px solid #6D5E52;
  box-sizing: border-box;
  text-align: left;
  background-color: #e2e8f0;
  border: 1px solid #6D5E52;
  box-sizing: border-box;
  border-radius: $border-radius * 2;       
}
 
.foto button{
  width: 80px;
  height: 80px;
  margin: 5px;
}

.register{
  grid-area: public;
}

.register button{
  border: none;
  display: inline-block;
  font-size: 25px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: $color-white;
  background-color: $color-brand;
}

//---------- SELL PUBLICATION PAGE ----------//

.cont_title {
  min-height: calc(100vh - 100px - 165px);  // 100vh Navbar Footer
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "logo text";
  gap: 100px;
  align-items: center;
  text-align: center;
  background-color: $color-white;
}
  
.logo {
  grid-area: logo;
  justify-self: end;
  width: 200px;
  height: 200px;
}

.title_publication{
  grid-area: text;
  justify-self: start;
  display: block;
  min-width: 400px;
  width: 600px;
  
  border-top: 2px solid $color-brand;
  border-bottom: 2px solid $color-brand;
  color: $color-brand;
  font-size: $text-titles;
}

//---------- END SELL PUBLICATION PAGE ----------//
