@import "../styles.module";
@import "../lib/variables.module";
@import "../styles.module.scss";


//---------- SELL PUBLICATION PAGE ----------//

.cont_title {
  min-height: calc(100vh - 100px - 165px);  // 100vh Navbar Footer
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "logo text";
  gap: 100px;
  align-items: center;
  text-align: center;
  background-color: $color-white;
}
  
.logo {
  grid-area: logo;
  justify-self: end;
  width: 200px;
  height: 200px;
}

.title_publication{
  grid-area: text;
  justify-self: start;
  display: block;
  min-width: 400px;
  width: 600px;
  
  border-top: 2px solid $color-brand;
  border-bottom: 2px solid $color-brand;
  color: $color-brand;
  font-size: $text-titles;
}

//---------- END SELL PUBLICATION PAGE ----------//
