@import "../styles.module";
@import "../lib/variables.module";
@import "../styles.module.scss";

//--------- SELL PAGE---------//


.cont_title_details {
  text-align: center;
  display: grid;
  background-color: $color-brand;
}

.cont_title_details h1 {
  width: 100%;
  align-items: center;
  grid-template-columns: 4fr 2fr 4fr;
  color: $color-secondary;;
  font-size: 30px;
  font-family: $base-font;
} 

.details_title{
  display: grid;
  margin-top: 5px;
}

.container_details{
  justify-items: center;
  display:grid ;
  grid-template-columns: .8fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.details_title label{
  padding: 15px 80px; 
  color: $color-white;  
  font-size: $base-fontSizeMedium;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
}


.form_client {
  width: 90%;
  margin: 20px;
  align-items: center;
  grid-area: 2 / 1;
 
}

.form_client input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 35px;
  min-width: 250px;
  padding: 10px 15px;
  font-weight: 400;
  color: $color-secondary;
  background-color: $color-tertiary;
  border: 1px solid $color-secondary;
  font-size: $base-fontsize;
  border-radius: $border-radius * 2;
}

.form_client select {
  cursor: pointer;
  outline: none;
  display: inline-block;
  width: 100%;
  color: $color-secondary;
  opacity: 0.85;
  height: 35px;
  min-width: 250px; 
  padding: 1px 15px;
  font-weight: 400;
  font-size: $base-fontsize;
  margin-bottom: 15px;
  border: 1px solid $color-secondary;
  background-color: $color-tertiary;
  box-sizing: border-box;
  border-radius: $border-radius * 2;
}

.takePhoto{
  

  grid-area: 1 / 2;
  width: 100%;
}

.takePhoto h2{
  
  color: $color-secondary;
  text-align: center;
  box-sizing: border-box;
  margin-top: 60px;
      
}

.Photo{
  margin: 20px;
  justify-items: center;
  display: grid;
  grid-area: 2 / 2;
  grid-template: 1fr/ 1fr 1fr;
  column-gap: 100px;
}

//---------- END SELL PAGE ----------//
