@import "../styles.module.scss";

.Main {
    display: grid;
    grid-template: 1fr / 4fr minmax(225px, 1fr);
    grid-template-areas: "main-content right-bar";
}

//------- MAIN CONTAINER -------//

.Container {
    grid-area: main-content;
    display: inline-block;
}

.ButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

//------- END MAIN CONTAINER -------//

//------- RIGHT BAR -------//

.RightBar {
    grid-area: right-bar;
    display: grid;
    height: calc(100% + 50px);
    background-color: $color-input;
}

.SummaryContainer {
    padding: 0;
<<<<<<< HEAD
    margin: 70px 0 0 0; // Top Right Bottom Left
    justify-self: center;
}
=======
    margin: 100px 0 0 0; // Top Right Bottom Left
    justify-self: center;
}

//------- END RIGHT BAR -------//
>>>>>>> 9ba64c6692770e12e1ffef5de4a859d7dbd5b30a
