@import "../styles.module.scss";
@import "../lib/variables.module";

.Button {
  padding: 10px 30px;
  margin-right: 2px;
  margin-bottom: 10px;
  min-width: 250px;  
  height: 30px;  
  color:white;
  background-color: $color-brand;  
  font-size: $base-fontsize ;  
  font-weight: bold;  
  border:none;
  border-radius: $border-radius *2 ;  
  cursor: pointer;  
  text-align: center;
  line-height: 10px;
}

 
  
  
  