@import "../styles.module.scss";
@import "../lib/variables.module";



.UpPhoto{
        width: 300px;
        height: 300px;
}

.UpPhoto img{
        width: 300px;
        height: 260px;
        border: 1px solid $color-secondary;
        border-radius: $border-radius;
}

.UpPhoto progress{
        background-color:  rgba(255, 159, 28, 0.83);;
        border-bottom: 15px;
        width: 300px;
        height: 10px;
        border: 1px solid $color-secondary;
        border-radius: $border-radius;
}

.UpPhoto input{
        margin-top: 5px;
        font-weight: 400;
        cursor: pointer;
        border: 1px solid #6D5E52;
        box-sizing: border-box;
        border-radius: $border-radius * 2;
        color: $color-white;
        width: 100%;
        background-color: rgba(255, 159, 28, 0.83);
}
       

