
.UpPhoto{
        width: 200px;
        height: 200px;
}

.UpPhoto input{
        border: none;
        width: 220px;
        background: #FF9F1C;
        margin: 5px;
}

.upPhoto img{
        background-image: none;
        width: 100%;
        height: 100%;
}

