@import "../styles.module.scss";
@import "../lib/variables.module";

.Input {
  width: 100%;
  height: 35px;
  min-width: 250px; 
  padding: 10px 15px;
  margin-bottom: 10px;    
  font-size: $base-fontsize;
  font-weight: 400;
  
  background-color: #e2e8f0;
  border: 1px solid #6D5E52;
  box-sizing: border-box;
  border-radius: $border-radius * 2;

  }

  .Input:hover{
    background-color: #FF9F1C;
    opacity: 40%;
    cursor: pointer;
}