@import "../styles.module.scss";
@import "../lib/variables.module";

.Label {
  font-family: $base-font;  
  font-size: $base-fontSizeSmall;  
  color: #6d5e52;
<<<<<<< HEAD
=======
  
>>>>>>> 767482f2a792671e310d579134784a4369e041aa
}