@import "../styles.module.scss";
@import "../lib/variables.module";

.Label {
  color: $color-grey;
  font-size: $base-fontsize ;  
  text-align: left;  
  // font-weight: bold;
  font-family: $base-font;

}

// $color-black:#000000;
// $color-purple: purple;  
// $color-darkGrey:#4d4d4d;
// $color-grey:#737373;
// $color-lightGrey:#bfbfbf;
// $color-darkWhite:#f1f1f1;
// $color-white:#ffffff;