@import "../styles/lib/_variables.module.scss";

.products_title{
    color: $color-secondary;
    font-size: $medium-text;
    cursor: pointer;
}

.products_Line{
    border-bottom: 1px solid $color-secondary;
    margin-left: 10px;
    margin-top:0;  
}
