@import "../styles.module.scss";

//--------- NAV LEFT ---------//
.nav_container {
    height: 100px;
    display:grid;
    grid-template-columns: 1fr 6fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
}

.nav_containerLogo {
    display: flex;
    align-items: center;
    justify-content:center;
}

.nav_logo {
    cursor: pointer;
    height: 70px;
}

//--------- END NAV LEFT ---------//

//------- NAV CENTRAL --------//

.nav_mainContainerInputs {
    display: grid;
    grid-template: 6fr 3fr / 1fr;
    grid-template-areas: "input"
                         "texts";
    justify-items: center;
    align-items: center;
}

.nav_containerInput {
    grid-area: input;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_containerInput input{
    // border-right: none;
    outline: none;
    height: 40px;
    width: 80%;
    max-width: 650px;
    padding: 0 20px;
    font-weight: 400;
    font-size: $light-small-text;
    color: $color-secondary;
    border: 1px solid $color-input-border;
    border-radius: $border-radius * 2; 
    background-color: $color-input;
}

.nav_containerInput input::placeholder {
    // border-right: none;
    opacity: .65;
}

.nav_containerInput input:hover{
    box-shadow: 0 1px 5px $color-shadow;
}

.nav_containerInput button {
    // padding: 0;
    // opacity: .5;
    outline: none;
    margin: 0 0 0 2.5px;
    padding: 0 20px;
    height: 40px;
    border-left: none;
    border-radius: $border-radius * 2; 
    border: 1px solid $color-input-border; 
    background-color: $color-input;
}
.nav_containerInput button:hover {
    box-shadow: 0 1px 2.5px $color-shadow;
    cursor: pointer;
}

.nav_containerButton img {
    width: 15px;
}

.nav_containerTexts {
    width: 100%;
    max-width: 600px;
    height: 30px;
    grid-area: texts;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-items: center;
    align-items: center;
}

.nav_containerTexts p {
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    font-size: $light-small-text;
    color:$color-secondary;
}

//-------- END NAV CENTRAL --------//



.nav_containerButton {
    display: grid;
    justify-items: center;
}



//------- NAV RIGHT --------//

.nav_icons {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 4fr;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.nav_icons img {
    cursor: pointer;
    min-width: 30px;
}

.nav_icons img:hover{
    background-color: #FF9F1C;
    opacity: 40%;
    border-radius: 100%;
    cursor: pointer;
}

.nav_iconsImgsCart {
    max-width: 45px;
    width: 35%;
}

.nav_iconsImgs {
    max-width: 45px;
    width: 70%;
}

.nav_userImg {
    max-width: 70px;
    width: 70%;
}

//------- END NAV RIGHT --------//

// .nav_icons button  {
//     height: 25px;
//     width: 60px;
//     border-radius: 5px;
//     border: none;
//     background-color: $color-brand;
//     color: $color-white; 
// }


// THIS HAPPENS WHEN THE NAVBAR HAS NOT LOADED AT ALL YET

.when_loading {
    margin: 15px 25px;
    font-weight: 700;
    font-size: $medium-text;
    color: $color-secondary;
}
