
@import "../styles/lib/_variables.module.scss";

.products_container_card{
    width: 150px;
    p{
        color:$color-secondary;
        font-size: $small-text;
        
    }   
    button img {
        width: 25px;
        height: 25px; 
    }
    button {
        border: none;
        background-color: transparent;
        outline: none;
    }
}

.products_container_img {
    margin-left: 10px;
    img {
        width: 150px;
    }
    
}

.products_container_icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
