@import "../styles.module.scss";


.MainContainer {
    width: 90%;
    margin: 30px auto; // Top-Bottom Right-Left
    border: 1px solid $color-secondary;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: $color-input;
    border-radius: $border-radius * 2;
}

// ----------- LEFTSIDE ---------- //

.AddressContainer {
    max-width: 400px;
    margin: 15px 0;
}

.AddressContainer h2 {
    margin: 0;
    font-weight: 400;
    font-size: $large-light-text;
    color: $color-secondary;
}

.Address {
    margin: 10px 0;
    font-weight: 700;
    font-size: $medium-text;
    color: $color-secondary;
}

.AddressDescription {
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: $light-small-text;
    color: $color-secondary;
}

// ----------- END LEFTSIDE ---------- //

// ----------- RIGHTSIDE ---------- //

.ShippingSpeed h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: $medium-text;
    color: $color-secondary;
}

.ShippingSpeed p {
    margin: 10px 0;
    padding: 0;
    font-weight: 400;
    font-size: $light-small-text;
    color: $color-secondary;
}

.ShippingSpeed span {
    margin: 0 0 0 5px;
    padding: 0;
    font-weight: 400;
    font-size: $light-small-text;
    color: $color-secondary;
}

.ButtonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

// ----------- END RIGHTSIDE ---------- //
