@import "../styles.module.scss";
@import "../lib/variables.module";

.TitleContainer {  
   color: $color-secondary;
  font-size: $base-fontsize * 1.25;  
  text-align: center;  
  // font-weight: bold;
}

.TitleLabel {
  color: $color-secondary;
  font-size: $base-fontsize;
}