// Librerias, Settings y Variables
@import "./lib/variables.scss";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: $base-fontsize * 1.5;
  background-color: $color-brand;
}

// //Elementos Base
// @import "./styles/lib/botones";
// @import "./styles/lib/links";
// @import "./styles/lib/tipografia";


// //Componentes
// @import "./styles/lib/grids";

// //Este siempre debe ir al final
// @import "./styles/lib/utilities";

// // $backgroundColor: red;

// // .app {
// //   background-color: $backgroundColor;
// // }